<div class="cart-dropdown">
  <h3>Shopping Cart</h3>
  <ul class="cart-items">
    <li *ngFor="let item of cartItems">
      <div class="item-details">
        <span class="item-name">{{ item.name }}</span>
        <span class="item-price">{{ item.price | currency }}</span>
      </div>
      <div class="quantity-controls">
        <button (click)="decreaseQuantity(item)">-</button>
        <span class="item-quantity">{{ item.quantity }}</span>
        <button (click)="increaseQuantity(item)">+</button>
      </div>
    </li>
  </ul>
  <div class="cart-total">
    <span>Total: {{ cartTotal | currency }}</span>
  </div>
  <button class="checkout-button">Checkout</button>
</div>
